<link rel="stylesheet" href="top.scss">
<div class="center">
    <div class="titles">
        <h1>Sec. Words</h1>
    </div>
    
    <%= image_tag 'top.PNG' %>
    <div data-no-turbolink>
        <a href= query class="button">Start!</a>
    </div>
</div>
