<link rel="stylesheet" href="questions.scss">
<div class="center">
  <div class="question_japanese">
    英語に直しなさい<br/>
  </div>
  <div class="question_english">
    <%= @question.jap%>
  </div>
<%= form_for(@question) do |f| %>
  答え:
  <%= f.text_field :reply %>
  <%= f.submit %>
<% end %>

  <body onLoad="countdown();">
    <div id="target"></div>
  </body>
</div>

<script>
var count=10;
  function countdown() {
    var ele = document.getElementById("target");
    ele.innerHTML = count.toLocaleString();
    count--;
    if(count<0){
      location.href="/results/index";
    }
    window.setTimeout(countdown, 1000);
}
</script>