<h1></h1>
<p>
    制限時間：<%= @time%>
    
    </p>
    <%= @question.eng%>
    <%= @question.jap%>
    <% if !@question.reply?%>
     <%= @question.reply%>
    <% end %>
    
<%#= form_for(@word) do |f| %>
  答え:
  <%#= f.text_field :jap %>
  <%#= f.submit %>
<%# end %>
